@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
    --color-primary: var(--primary-color);
    --font-sans: var(--font-inter);
}

@layer base {
    :root {
        --font-inter: sans-serif;
    }

    body {
        @apply antialiased;
    }
}